/* 取消间距 */
* {
    margin: 0;
    padding: 0;
}

/* 修饰标题 */
.title {
    width: 500px;
    height: 50px;
    background-color: #ffc0cb;
}
h1>span {
    color: red;
}

.text {
    width: 500px;
    height: 146px;
    background-color: #d3d3d3;
}